########################################################################################################################
##  Context variables required
##  1. schema
##  2. mapper 
##  3. deserialzerName
########################################################################################################################

