#set($thisShortName = ${class.ShortName})
/**
 * ${thisShortName}.java
 *
 */

#set($allFields = $class.AllFields)
#define($fieldName)$util.firstCharLowerCase($field.Name)#end
#define($fieldType)$util.getJavaTypeName($field)#end
#define($getterName)#if(${field.GetterName})${field.GetterName}#{else}get${field.DisplayName}#end#end
#define($setterName)#if(${field.SetterName})${field.SetterName}#{else}set${field.DisplayName}#end#end

#if( $class.NameSpace )package ${class.NameSpace};
#set($baseClassName = "${class.NameSpace}.g.${thisShortName}")
#else
#set($baseClassName = "g.${thisShortName}")
#end

/**
 * This class is derived from generated class ${baseClassName}. It only contains computing methods and 
 * transient properties that isn't part of the object data model. Please update the schema when you need
 * to add properties that needs to be serialized.
 */ 
public class ${thisShortName} extends $baseClassName {
    
    // Add transient fields or properties here.

    public ${thisShortName}() {
    }
    
#if( $allFields.size() > 0 )
#set( $fieldCount = $allFields.size() - 1)
    public ${thisShortName}(
#foreach( $field in $allFields)
        $fieldType $fieldName#if ($velocityCount <= $fieldCount),
#end
#end)
    {
#foreach( $field in $allFields)
        $setterName($fieldName);
#end
    }
#end
    
    // Add your business logic methods here.
}