#[[
#pragma once

#include <tesla/SchemaVersion.h>
]]#
#macro(schema_var_name)
SCHEMA_$schema.Version.Name.replaceAll("[-\.\+\-\*\(\)\[\]\{\}\s]", "_").toUpperCase()#end

/*
 * Schema Version Hash constant is generated based on the TML file.  
 * Ideally you should assign it a different version name in the TML file so that a different constant is generated.
 * If you change a TML file but not assign it a new version name, then it will overwrite the previous constant value.
 *
 * The constant below should be used in the code when creating the SchemaVersion instance.
 */
#foreach( $schema in $schemas )
const tesla::SchemaVersion #{schema_var_name}()($schema.Version.SchemaHash, "$schema.Version.Name", $schema.Version.VersionNumber);    

#end

